/* color: var(--input-text-color); */

.BiTrash {
  width: 24px;
  height: 24px;
}

.BiTrash__btn {
  position: absolute;
  right: 0%;

  height: 24px;
  width: 24px;

  border-radius: 4px;
  padding: 0;
  border: 0;

  color: var(--font-color);
  background-color: var(--BiTrach-btn-color);
}
.BiTrash__btn:hover,
.BiTrash__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.btn {
  position: absolute;
  width: 87px;
  height: 27px;

  right: 0;
  bottom: 0;

  border-radius: 65px 156px 65px 155px;
  border: 1px;

  color: var(--primary-color);
  background-color: var(--search-btn-color);

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn:hover,
.btn:focus {
  background-color: var(--subscribe-btn-color);
}

.img {
  border-radius: 8px;
}
.item {
  background-color: var(--bg-recipe-color);
}
.block {
  position: absolute;
  bottom: 0;

  color: var(--input-text-color);

  /* Body / Small Text - Medium */

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.24px;
}

.title {
  margin-top: 100px;
  margin-bottom: 100px;

  color: var(--input-text-color);
}

.section__title {
  color: var(--input-text-color);
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}

.text {
  color: var(--input-text-color);
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .img {
    /* content: url(https://via.placeholder.com/124x124); */
    background-color: green;
    width: 124px;
    height: 124px;
  }

  .item {
    display: inline-flex;
    padding: 14px 9px;
    justify-content: center;
    align-items: center;
    gap: 14px;

    width: 343px;
    height: 152px;

    /* border: 1px solid red; */
  }

  .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .text__container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 187px;
    height: 124px;
  }

  .section__title {
    margin-top: 6px;
    margin-bottom: 14px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
    letter-spacing: -0.24px;

    max-width: 150px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text__info {
    width: 163px;
    max-height: 50px;
    flex-shrink: 0;

    overflow: hidden;

    text-overflow: ellipsis;
    whitespace: nowrap;

    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 125% */
    letter-spacing: -0.16px;
  }
  .text__studies {
    display: none;
  }
  .block {
    color: var(--color-text-primary);

    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
    letter-spacing: -0.24px;
  }
  .BiTrash {
    width: 18px;
    height: 24px;
  }

  .BiTrash__btn {
    height: 24px;
    width: 24px;
  }

  .btn {
    width: 87px;
    height: 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .img {
    /* content: url(https://via.placeholder.com/228x232); */
    background-color: aqua;
    width: 228px;
    height: 232px;
  }

  .item {
    /* border: 1px solid red; */
    display: inline-flex;
    padding: 28px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 40px;
    border-radius: 8px;
  }

  .text__container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 420px;
    height: 232px;
  }
  .section__title {
    margin-left: 16px;
    margin-bottom: 28px;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;

    max-width: 345px;
  }

  .text {
    display: flex;
    margin-left: 16px;
    max-height: 125px;
    width: 404px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .text__info {
    width: 353px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }
  .text__studies {
    width: 350px;
    /* height: 21px; */

    overflow: hidden;

    text-overflow: ellipsis;
    whitespace: nowrap;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .BiTrash__btn {
    height: 38px;
    width: 38px;
  }

  .btn {
    width: 138px;
    height: 45px;

    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .img {
    /* content: url(https://via.placeholder.com/324x318); */
    background-color: brown;
    height: 324px;
    width: 318px;
  }

  .item {
    /* border: 1px solid red; */
    display: flex;

    padding: 40px 0px 40px 40px;
    margin-bottom: 50px;
    border-radius: 8px;
    gap: 14px;

    /* width: 1240px; */
  }
  .text__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 806px;
  }

  .section__title {
    margin-left: 40px;
    margin-bottom: 40px;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;

    max-width: 650px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 14px;
    margin-left: 40px;
    margin-right: 22px;
    width: 679px;

    max-height: 185px;
  }
  .text__info {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
  }
  .text__studies {
    overflow: hidden;

    text-overflow: ellipsis;
    whitespace: nowrap;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
  }

  .BiTrash__btn {
    right: 5%;

    height: 44px;
    width: 44px;
  }

  .btn {
    width: 172px;
    height: 59px;
    right: 5%;
    bottom: 0;

    font-size: 16px;
  }
}
