@import-normalize; /* bring in normalize.css styles */
@import url('./variables.module.css');

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
li {
  list-style: none;
}

a,
button {
  cursor: pointer;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  color: var(--font-color);
  background-color: var(--body-color);
}

.blured {
  filter: blur(2px);
}
